<div class="col">
  <div class="card h-100">
    <div class="card-body">
      <% if user_signed_in? && current_user.admin? %>
        <p class="card-text">
          <strong>User name:</strong>
          <%= reserve.user.name %>
        </p>
      <% end %>

      <p class="card-text">
        <strong>Book title:</strong>
        <%= reserve.book.title %>
      </p>

      <p class="card-text">
        <strong>Reserved at:</strong>
        <%= reserve.reserve_date.strftime("%d %B %Y") %>
      </p>

      <p class="card-text">
        <strong>Devolution:</strong>
        <%= reserve.devolution_date.strftime("%d %B %Y") %>
      </p>

      <p class="card-text">
        <strong>Status:</strong>
        <%= reserve.status %>
      </p>
    </div>

    <% if btn_show %>
      <div class="card-footer">
        <%= link_to 'Show reserve', reserve_path(reserve), class: "btn btn-primary w-100" %>
      </div>
    <% end %>
  </div>
</div>
