<div id="<%= dom_id reserve %>">
  <p>
    <strong>Book:</strong>
    <%= reserve.book_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reserve.user_id %>
  </p>

  <p>
    <strong>Reserve date:</strong>
    <%= reserve.reserve_date %>
  </p>

  <p>
    <strong>Devolution date:</strong>
    <%= reserve.devolution_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reserve.status %>
  </p>

</div>
