<div class="cointainer d-flex flex-wrap align-items-center justify-content-center m-5">
  <div class="col-md-10">
    <h2 class="mb-4">
      Reserves
    </h2>

    <div class="mb-2">
      <%= page_entries_info @reserves %>
    </div>

    <%= form_tag(reserves_path, method: 'get', class: "d-flex mb-3") do %>
      <%= text_field_tag(:search, params[:search], placeholder: "Search reserves", class: "form-control me-2") %>
      <%= submit_tag("Search", name: nil, class: "btn btn-success me-2") %>
      <%= link_to 'Clear', reserves_path, class: "btn btn-dark" %>
    <% end %>

    <%= render "layouts/pagination", resources: @reserves %>

    <div class="mb-4">
      <% if can? :manage, Reserve %>
        <%= link_to 'New reserve', new_reserve_path, class: "btn btn-info mb-4" %>
      <% end %>

      <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
        <% @reserves.each do |reserve| %>
          <%= render reserve, btn_show: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>
