<p style="color: green"><%= notice %></p>

<%= render @reserve %>

<div>
  <%= link_to "Edit this reserve", edit_reserve_path(@reserve) %> |
  <%= link_to "Back to reserves", reserves_path %>

  <%= button_to "Destroy this reserve", @reserve, method: :delete %>
</div>
