<div class="col">
  <div class="card h-100">
    <div class="card-body">
      <p class="card-text">
        <strong>Title:</strong>
        <%= book.title %>
      </p>

      <p class="card-text">
        <strong>Author:</strong>
        <%= book.author %>
      </p>

      <p class="card-text">
        <strong>Category:</strong>
        <%= book.category %>
      </p>

      <p class="card-text">
        <strong>In library since:</strong>
        <%= book.created_at.strftime("%d %B %Y") %>
      </p>

      <% if can? :manage, Book %>
        <p class="card-text">
          <strong>Last modification:</strong>
          <%= book.updated_at.strftime("%d %B %Y") %>
        </p>
      <% end %>
    </div>

    <% if btn_show %>
      <% if can? :manage, Book %>
        <div class="card-footer">
          <%= link_to 'Show book', book_path(book), class: "btn btn-primary w-100" %>
        </div>
      <% end %>
    <% end %>

    <% if current_user && !current_user.admin? %>
      <div class="card-footer">
        <%= button_to 'Reserve book', { controller: "reserves", action: "create", reserve: { book_id: book.id }}, method: :post, class: "btn btn-primary w-100" %>
      </div>
    <% end %>
  </div>
</div>
