<!DOCTYPE html>
<html>
  <head>
    <title>Big City Library</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="page-container">
    <%= render 'layouts/header' %>

    <% if alert || notice %>
      <%= render 'layouts/alerts' %>
    <% end %>

    <div class="content-wrap">
      <%= yield %>
    </div>
  </body>
</html>
